.keyideas{
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #441F29;
    background-color: #E56889;
    border: solid 5px #441F29;
}